/*font*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* overall style */

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  font-family: inherit;
  color: #ffffff;
  padding: 14px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
}

/*page-header*/

.page-header {
  display: flex;
  padding: 0 70px;
  height: 65px;
}

.navigation-logo {
  z-index: 1;
}

.navigation {
  display: flex;
  margin-left: 30px;
  width: 500px;
}
.navigation-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  z-index: 1;
  height: 63px;
}

.navigation-link {
  padding: 20px 0;
  margin: 0 17px;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  font-weight: 700;
  color: #000000;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  z-index: 1;
}

.userbar {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  width: 310px;
  padding: 0;
  align-items: center;
}

.userbar-link {
  text-decoration: none;
  padding: 24px 12px;
}

.userbar-button {
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  padding: 9px 15px 8px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 160px;
  margin-left: 20px;
}

/*welcome block*/

.main-container {
  flex-qrow: 1;
}

.welcome {
  width: 100%;
  height: 485px;
  background-color: #ffffff;
  background-image: url("/images/welcome-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 0 63px 0;
}

.welcome::after {
  content: "";
  display: flex;
  background-image: url("/images/svg/welcome-background-mask.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 57px;
  align-self: flex-end;
}

.welcome-sedona {
  margin: 51px auto 25px auto;
  width: 458px;
  height: 352px;
}

/*advantages*/

.advantages {
  text-align: center;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-main-title {
  width: 620px;
  margin: 0 0 31px 0;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-main-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 90px 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px 0;
}

.advantages-number {
  display: block;
  margin: 0 0 30px 0;
}

.advantages-subject {
  width: 230px;
  text-align: center;
  margin: 0 auto;
}

.advantages-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #82b3d3;
  color: #ffffff;
  margin: 0;
}

.advantages-card-dark {
  padding: 92px 85px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
}

.advantages-item:nth-child(odd) {
  background-color: #f0f5f9;
}

.advantages-list-bottom .advantages-item:nth-child(even) {
  background-color: #e6f0f6;
}

.advantages-list-top .advantages-item {
  position: relative;
  padding: 183px 85px 92px 85px;
}

.advantages-item::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}

.advantages-item-hotel::before {
  width: 75px;
  height: 72px;
  background-image: url("/images/svg/advantage-icon-house.svg");
}

.advantages-item-food::before {
  width: 74px;
  height: 70px;
  background-image: url("/images/svg/advantage-icon-hamburger.svg");
}

.advantages-item-souvenir::before {
  width: 64px;
  height: 76px;
  background-image: url("/images/svg/advantage-icon-present.svg");
  top: 79px;
}
.advantages-list-bottom .advantages-item {
  position: relative;
  padding: 92px 85px;
}

.advantages-list-bottom {
  margin-bottom: 91px;
}

/*section search*/

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px 0;
}

.search {
  text-align: center;
}

.search-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 56px auto;
  width: 592px;
}

.button-search {
  display: block;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto 93px auto;
  width: 574px;
  text-decoration: none;
  background-color: #756157;
  padding: 12px 15px;
}

/*email*/

.newsletter {
  text-align: center;
  padding: 94px 200px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px 0;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 46px auto;
  width: 475px;
}

.newsletter-form {
  display: flex;
}

.newsletter-form .field {
  background: #f2f2f2;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px 0 0 10px;
  width: 600px;
  height: 60px;
  border: none;
  padding: 20px 0 19px 22px;
  margin-right: 0;
}

.newsletter-button {
  margin-left: 0;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #82b3d3;
  padding: 12px 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
}

.newsletter-background {
  background-color: #3ea8f3;
  color: #ffffff;
  background-image: url("/images/background-email.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*footer*/

.page-footer {
  display: flex;
  height: 120px;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: auto 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.social-button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  width: 47px;
  justify-content: center;
}

.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: auto 0;
}

.page-footer-logo {
  margin: auto 0;
}

/***catalog***/
/*catalog-filter*/

.catalog-filter {
  width: 100%;
  height: ;
  background-color: #195d8d;
  color: #ffffff;
  background-image: url("/images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 30px 70px 70px 70px;
  margin: 0 0 55px 0;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px 0;
}

.breadcrumbs {
  list-style-type: none;
  font-size: 16px;
  margin: 0 0 40px 0;
  display: flex;
  padding: 0;
}

.breadcrumbs-link {
  text-align: left;
  margin: auto 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 30px 0;
}

.catalog-filter-form {
  display: flex;
}
.catalog-filter-group {
  width: 150px;
  border: none;
  padding: 0;
  margin: 0 70px 0 0;
}

.catalog-filter-list {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

.catalog-filter-item {
  margin-bottom: 15px;
}

.button-blue {
  width: 160px;
  height: 48px;
  text-decoration: none;
  background-color: #82b3d3;
  padding: 14px 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.button-reset {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  text-transform: none;
}

/*сatalog-results*/

.сatalog-results {
  padding: 0 71px 0 72px;
}

.catalog-view-list,
.catalog-product-list,
.pagination {
  list-style-type: none;
}
.catalog-view {
  display: flex;
  justify-content: space-between;
  margin: 0 0 56px 0;
}

.catalog-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 350px;
  text-align: left;
  margin: auto 0;
}

.select-control {
  width: 290px;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 43px 13px 19px;
  border-color: #e5e5e5;
}

/*Выбор отображения вида. Переделаю потом*/
/*.catalog-view-list {
  display: flex;
}
.button-view::before {
  content: "";
  position: relative;
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-card::before {
  background-image: url("/images/svg/view-table.svg");
}

.view-one::before {
  background-image: url("/images/svg/view-only-one.svg");
}

.view-list::before {
  background-image: url("/images/svg/view-list.svg");
}

.button-view-active::before {
  border-color: #000000;
}

.catalog-view-item {
  margin: 0 0 40px 0;
}*/

/* catalog product list*/

.catalog-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 66px 0;
  padding: 0;
}

.catalog-product-item {
  width: 340px;
  padding: 20px;
}

.catalog-product-link {
  text-decoration: none;
}
.catalog-product-image {
  margin: 0 0 16px 0;
}

.catalog-product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;
  text-transform: none;
  margin: 0 auto 16px 0;
}

.catalog-product-type,
.catalog-product-price {
  margin: 0 0 16px 0;
}

.catalog-product-button {
  text-decoration: none;
  background-color: #756157;
  padding: 9px 15px 8px 15px;
  border: none;
  border-radius: 4px;
}

.catalog-product-like {
  text-decoration: none;
  background-color: #82b3d3;
  padding: 9px 15px 8px 15px;
  border: none;
  border-radius: 4px;
}

.catalog-product-visited {
  text-decoration: none;
  background-color: #7db54f;
  padding: 9px 15px 8px 15px;
  border: none;
  border-radius: 4px;
}

.catalog-product-rating {
  background-color: #f2f2f2;
  padding: 9px 32px 8px 33px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/*pagination*/
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  padding: 30px 0 25px 0;
  margin: 0;
}

.pagination {
  width: 400px;
  height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 22px 10px 21px;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item {
  margin: 0 0 30px 0;
}

.select-number {
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  height: 49px;
  border: 2px solid #e5e5e5;
  padding: 14px 20px;
  margin: auto 0 auto 0;
}

.select-text {
  margin: auto 51px auto 0;
}
